<div class="loading__generalLoadingWrapper">
    {{loading-status additionalClassNames="loading__generalLoadingWrapper__text"}}
    <div class="loading__generalLoadingWrapper__text">Lade Daten...</div>
</div>