<h2 class="management--single__heading">News erstellen</h2>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}


{{news-config isNewsCreation=true title="" date="" description="" link="" save="createUser" cancel="cancelView"}}
