<div class="jumbotron">
    <h1>
        Fehler 404
    </h1>
    <p>
        Die Seite konnte nicht gefunden werden oder existiert nicht!
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">
            {{#if isLoading}}
                {{loading-status additionalClassNames="loading--notFound"}}
            {{else}}
                {{#if isLoggedIn}}
                    Zum Dashboard
                {{else}}
                    Zur Startseite
                {{/if}}
            {{/if}}
        </a>
    </p>
</div>