{{#if isLoading}}
    <div class="loading__generalLoadingWrapper">
        {{loading-status additionalClassNames="loading__generalLoadingWrapper__text"}}
        <div class="loading__generalLoadingWrapper__text">Lade Daten...</div>
    </div>
{{else}}
    {{#if statusMessage}}
        {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
    {{/if}}
{{/if}}

<span class="fa fa-spinner loading--fix"></span>