<h2 class="management--single__heading">Studie konfigurieren</h2>

{{#if isTutorUser}}
    <button class="btn btn-danger management--single__deleteButton" {{action 'deleteStudy'}}>Studie löschen</button>
{{/if}}

<button class="btn btn-primary" {{action 'goToStudyConfirm'}}>Studie abschließen</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

{{study-config isStudyCreation=false save="updateStudy" cancel="cancelView" title=model.study.title fromDate=model.study.fromDate
        toDate=model.study.untilDate mmi=model.study.mmi amazon=model.study.compensation mmiPoints=mmiPoints amazonValues=amazonValues
        location=model.study.location description=model.study.description link=model.study.link labels=model.allLabels
        users=model.allUsers allRequiredStudies=allRequiredStudies templates=model.allTemplates templateValues=model.study.templateValues
        selectedLabels=model.study.labels news=model.allNews selectedNews=model.study.news registeredUsers=model.study.registeredUsers
        requiredStudies=requiredStudies template=template executor=executor tutor=tutor
        possibleTutors=possibleTutors possibleExecutors=possibleExecutors isTutorUser=isTutorUser capacity=model.study.space}}