<h2 class="management--single__heading--create">User erstellen</h2>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

{{user-config isUserCreation=true firstName="" lastName="" userName="" selectedMMI=0
              isMMIUser=false selectedRole="participant" roles=roles mmiOptions=mmiValues
              isLoading=isLoading createUpdateDataWasValid=createDataWasValid save="createUser" cancel="cancelView"}}
