<h2 class="user__heading">User konfigurieren</h2>

<button class="btn btn-danger user__button--delete" {{action 'deleteUser'}}>Nutzer löschen</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}


{{user-config isUserCreation=false firstName=firstName lastName=lastName userName=userName selectedMMI=mmiPoints
              isMMIUser=isMMIUser selectedRole=selectedRole roles=roles mmiOptions=mmiValues save="updateUser" cancel="cancelView"}}
