<h2>User erstellen</h2>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

{{user-config isUserCreation=true firstName="" lastName="" userName="" selectedMMI=0
              isMMIUser=false selectedRole="participant" roles=roles mmiOptions=mmiValues save="createUser" cancel="cancelView"}}
