backend/node_modules/*
backend/server.log
backend/exit.log
.DS_STORE
.idea/*
frontend/public/bower_components
frontend/node_modules/*
frontend/public/userstudy-manager-ember.js
frontend/public/userstudy-manager-ember.min.js
frontend/public/js/templates.js

