.component__config__form {
    clear: right;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .component__config__select {
        max-width: 15em;
    }

    .component__config__saveButton {
        margin-right: 1em;
    }

    .component__config__buttonsWrapper {
        padding-top: 2em;
    }
}

@media screen and (max-width: 767px) {
    .component__config__select {
        max-width: 100%;
    }

    .component__config__cancelButton {
        display: block;
    }

    .component__config__saveButton {
        display: block;
        margin-bottom: 2em;
        margin-right: 1em;
    }

    .component__config__buttonsWrapper {
        padding-top: 2em;
        text-align: center;
    }
}

.component__statusMessage__icon {
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.component__config--template__title__wrapper {
    margin-bottom: 3em;
}

.component__config--template__field__nameWrapper {
    margin-bottom: 0.1em;
}

.component__config--template__field__valueWrapper {
    margin-bottom: 2em;
}

.component__config--template__field__nameInputGroup{
    max-width: 95%;
    display: inline-table;
}

.component__config--template__field__valueInputGroup {
    margin-left: 2em;
    max-width: 95%;
}

.component__config--template__field__remove {
    cursor: pointer;
    font-weight: bold;
    color: red;
    float: right;
    font-size: 1.3em;
}

.component__config--template__field__remove:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.component__config--template__addField__wrapper {
    margin-top: 1em;
}

.component__config--template__addField__button {
    float: right;
}

.component__selectionList {
    overflow-y: scroll;
    max-height: 9em;
}

.component__selectionItem {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.component__selectionItem__selectIcon {
    float: right;
}

.component__studiesList__switch {
    color: slategray;
    font-weight: bold;
    cursor: pointer;
}

.component__studiesList__study {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.component__studiesList__switch--noStudies {
    color: dimgray;
    font-weight: bold;
}

.component__studiesList__switch--noStudies__text {
    vertical-align: text-bottom;
}

.component__studiesList__switch--noStudies__icon {
    font-size: 1.3em;
    margin-right: 0.2em;
}


.component__labelsItem {
    cursor: pointer;
}

.component__labelsItem--selected {
    background-color: #dcdcdc;
}

.component__labelsItem:hover {
    background-color: #f5f5f5;
}

.component__labelsItem--selected:hover {
    background-color: lightgray;
}

.component__labelsItem__removeIcon__wrapper {
    display: inline-block;
    float: right;
}

.component__labelsItem__removeIcon {
    color: crimson;
    vertical-align: middle;
}

.component__labelsItem__removeIcon:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.component__labelsItem__name {
    max-width: 80%;
    display: inline-block;
    color: black;
}

.component__labelsItem__name--selected {
    max-width: 80%;
    display: inline-block;
    color: darkslategrey;
    font-weight: bold;
    font-size: 1.2em;
}

.component__labelsItem__studyWrapper {
    margin-top: 0.8em;
}

.component__labelsItem__studyWrapper__description {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.component__labelsItem__studyWrapper__study {
    margin-left: 0.3em;
    margin-bottom: 0.2em;
    padding: 0.2em;
}

.component__labelsItem__studyWrapper__study:hover {
    background-color: ghostwhite;
    color: #000000;
    font-weight: bold;
}

.component__labelsItem__studyWrapper--noStudies {
    font-weight: bold;
}

.component__labelsItem__studyWrapper__study__title {
    overflow: hidden;
    display: block;
}

.component__labelsItem__studyWrapper__study__title__icon {
    display: inline-block;
    float: left;
    margin-right: 0.35em;
}


