.component__config__form {
    clear: right;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .component__config__select {
        max-width: 15em;
    }

    .component__config__saveButton {
        margin-right: 1em;
    }

    .component__config__buttonsWrapper {
        padding-top: 2em;
    }
}

@media screen and (max-width: 767px) {
    .component__config__select {
        max-width: 100%;
    }

    .component__config__cancelButton {
        display: inline-block;
        vertical-align: top;
    }

    .component__config__saveButton {
        margin-bottom: 2em;
        display: inline-block;
    }

    .component__config__buttonsWrapper {
        padding-top: 2em;
        text-align: center;
    }
}

.component__statusMessage__icon {
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
