/* ALL */

.management--all__table {
    margin-top: 1em;
    clear: right;
}

.management--all__row {
    cursor: pointer;
}

.management--all__statusMessage {
    float: right;
    width: 100%;
}

.management--all__deleteIcon {
    color: red;
    cursor: pointer;
}

.management--all__deleteIcon:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.management--all__emptyFilter {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: dimgrey;
}

.management--all__datePicker {
    background-color: white !important;
    cursor: pointer !important;
    max-width: 90%;
    display: inline-block;
}

.management--all__datePicker__clearButton {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.management--all__datePicker__clearButton:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

@media screen and (min-width: 768px) {
    .management--all__heading {
        margin-bottom: 0.5em;
        font-weight: bold;
        color: darkslategray;
    }

    .management--all__createButton {
        float: right;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 767px) {
    .management--all__heading {
        margin-bottom: 1em;
        font-weight: bold;
        color: darkslategray;
    }

    .management--all__createButton {
        margin-bottom: 0.5em;
    }
}




/* SINGLE */

.management--single__heading {
    font-weight: bold;
    color: darkslategray;
}

.management--single__heading--create {
    margin-bottom: 1em;
    font-weight: bold;
    color: darkslategray;
}

.management--single__datePicker {
    background-color: white !important;
    cursor: pointer !important;
}

.management--single__confirmPublishButton {
    display: inline-block;
    margin-bottom: 3em;
    vertical-align: top;
}

.management--single__helpInfo__icon {
    float: left;
    margin-right: 0.5em;
}

.management--single__helpInfo__text {
    display: block;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .management--single__deleteButton {
        margin-bottom: 1em;
        margin-right: 2em;
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    .management--single__deleteButton {
        margin-bottom: 3em;
        margin-right: 2em;
        display: inline-block;
    }
}



/* LABELS */

.labels__heading {
    margin-bottom: 1.5em;
    font-weight: bold;
    color: darkslategray;
}

.labels__creationWrapper {
   max-width: 40em;
}

.labels__statusMessage {
    max-width: 40em;
}

.labels__list {
    margin-top: 1em;
    max-width: 40em;
}

.labels__tableLoadingWrapper {
    text-align: center;
}