.studies__row {
    cursor: pointer;
}

.studies__row--expired:hover > td:nth-child(2), .studies__row--expired:hover > td:nth-child(3) {
    color: darkred;
}

.studies__row--expired > td:first-child {
    color: darkred;
}

.studies__row--notExpired {
    background-color: #ededed;
}

.studies__filter--state {
    min-width: 9em;
}

.studies__filter--mmi {
    min-width: 5em;
}

.studies__filter--amazon {
    min-width: 6em;
}

.studies__tableWrapper {
}

.studies__filterButton {
    display: block;
    margin-top: 3em;
    margin-bottom: 1em;
}


@media screen and (min-width: 768px) {
    .studies__column--status {
    }

    .studies__column--name {
        max-width: 10em;
        white-space: normal;
    }

    .studies__datePicker {
        background-color: white !important;
        cursor: pointer !important;
    }
}

@media screen and (max-width: 767px) {
    .studies__column--status {
        display: none;
        visibility: hidden;
    }

    .studies__column--name {
        max-width: 15em;
        white-space: normal !important;
    }

    .studies__column--location {
        display: none;
        visibility: hidden;
    }

    .studies__column--executor {
        display: none;
        visibility: hidden;
    }

    .studies__column--mmi{
        display: none;
        visibility: hidden;
    }

    .studies__column--amazon {
        display: none;
        visibility: hidden;
    }

    .studies__filterInput--name {
        font-size: 0.7em;
    }

    .studies__datePicker {
        background-color: white !important;
        cursor: pointer !important;
        font-size: 0.7em;
    }
}