/* standard navbar */
@media screen and (min-width: 768px) {
    .accountDropDown {
        display: block;
    }

    .accountDefault {
        display: none !important;
    }

    .navBar__nav--account {
        color: snow;
        padding-bottom: 9px !important;
    }

    .navBar__nav__createStudy {
        float: right;
        background-color: cornflowerblue;
        color: white;
        border: 2px solid black;
    }
}

/* mobile navbar */
@media screen and (max-width: 767px) {
    .accountDropDown {
        display: none !important;
    }

    .accountDefault {
        display: block;
    }

    .navBar__nav__createStudy {
        background-color: cornflowerblue;
        color: white;
        border: 2px solid black;
    }

    .navBar__nav--account {
        color: snow !important;
    }
}

.application__navBar {
    background-color: #063;
    border-color: darkgreen;
}

.application__navBar__brand {
    color: #ffffff !important;
    font-weight: bold;
}

.application__navBar__brand:hover {
    text-decoration: underline;
}

.application__firstPrimaryButton {
    border-color: dimgray;
    background-color: rgb(92, 96, 93);
    color: #ffffff;
}

.application__firstPrimaryButton:hover, .application__firstPrimaryButton:active, .application__firstPrimaryButton:focus {
    background-color: rgb(76, 78, 76);
    color: #ffffff;
}

.application__secondPrimaryButton {
    border-color: dimgray;
    background-color: darkslategray;
    color: #ffffff;
}

.application__secondPrimaryButton:hover, .application__secondPrimaryButton:active, .application__secondPrimaryButton:focus {
    background-color: rgb(46, 65, 65);
    color: #ffffff;
}


/* OVERRIDING BOOTSTRAP STYLES */

@media screen and (min-width: 768px) {
    .navbar-inverse .navbar-nav > li > a {
        color: #dcdcdc;
    }

    .navBar--collapsed__button {
        border-color: #dcdcdc !important;
        border-width: 2px;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: aliceblue;
    }

    .navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse  .navbar-toggle:focus .icon-bar {
        background-color: darkgreen;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: aliceblue;
        color: darkgreen;
    }

    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
        background-color: aliceblue;
        color: darkgreen;
    }
}

/* mobile navbar */
@media screen and (max-width: 767px) {
    .navBar--collapsed__button {
        border-color: #dcdcdc !important;
        border-width: 2px;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: aliceblue;
    }

    .navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse  .navbar-toggle:focus .icon-bar {
        background-color: darkgreen;
    }

    .navbar-collapse .nav > li.divider {
        height: 3px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #f5f5f5;
        color: #f5f5f5;
        border-bottom: 2px solid darkgreen;
    }

    .navbar-inverse .navbar-collapse {
        border-color: snow;
        border-width: 4px;
    }

    .navbar-inverse .navbar-collapse .navbar-nav > li > a {
        color: #dcdcdc;
        background-color: #063;
    }

    .navbar-inverse .navbar-collapse .navbar-nav > li > a:hover {
        background-color: #dcdcdc;
        color: #063;
    }
}

.dropdown-menu > li > a {
    color: #063;
}

.dropdown-menu > li > a:hover {
    color: #f5f5f5;
    background-color: #063;
}

.dropdown-menu > li.divider {
    background-color: #063;
}



.accountIcon {
    font-size: 1.5em;
}

.login__container {
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    border: 0.2em solid lightgray;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    max-width: 40em;
}

.login__button {
    width: 100%;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.login__button--default {
    background-color: #386F54;
    color: #ffffff;
    border-color: dimgray;
}

.login__button--default:hover, .login__button--default:active, .login__button--default:focus {
    background-color: #2A5A43;
    color: #ffffff;
}

.login__alert {
    margin-bottom: 0;
}

.login__signUpButton {
    margin-top: 3em;
}

.login__passwordRecovery {
    font-weight: bold;
    color: grey;
    cursor: pointer;
    text-align: center;
}

.login__passwordRecovery:hover {
    text-decoration: underline;
}

.accountConfig__header {
    margin-bottom: 1.5em;
    font-weight: bold;
    color: darkslategray;
}

.accountConfig__form {
    font-size: 1.2em;
}

.accountConfig__body__label {
    font-weight: bold;
}

.accountConfig__body--uneditableValue {
    color: dimgray;
    font-weight: bold;
}

.accountConfig__body__typeSelect {
    min-width: 10em;
    max-width: 10em;
}

.accountConfig__body__passwordEditIcon {
    cursor: pointer;
    color: seagreen;
    font-weight: bold;
}

.accountConfig__body__passwordEditIcon:hover {
    cursor: pointer;
    color: #004e26;
    font-weight: bold;
    max-width: 6em;
    text-decoration: underline;
}

.accountConfig__body__passwordEdit {
    border: 1px solid darkslategray;
    max-width: 25em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.accountConfig__body__passwordEdit__wrapper {
    display: table;
    border-spacing: 1em 0.5em;
    padding-top: 1em;
}

.accountConfig__body__passwordEdit__row {
    display: table-row;
}

.accountConfig__body__passwordEdit__row--invalid {
    color: #a94442;
    border-color: #a94442;
}

.accountConfig__body__passwordEdit__valueCell {
    display: table-cell;
}

.accountConfig__body__passwordEdit__valueCell {
    display: table-cell;
}

.accountConfig__body__passwordEdit__valueCell button {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.accountConfig__body__passwordEdit__descriptionCell {
    display: table-cell;
    vertical-align: middle;
}

.accountConfig__body__passwordEdit__button {
    text-align: right;
}

.accountConfig__error {
    margin-top: 1.5em;
}

.accConfig__statusMessage {
    margin-top: 2em;
}

.default__header {
    margin-bottom: 1.5em;
    font-weight: bold;
    color: darkslategray;
}

.signUp__form {
    max-width: 50em;
}

.signUp__button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.signUp__field--mmiFlag {
    margin-left: 1em;
}

.signUp__field--mmiFlag--highlighting {
    color: #063;
}

.signUp__field--mmiFlag__helpTextIcon {
    font-size: 0.95em;
}

.signUp__field--mmiFlag__helpTextInfoIcon {
    float: left;
    margin-right: 0.5em;
}

.signUp__field--mmiFlag__helpText {
    display: block;
    overflow: hidden;
}

.signUp__statusMessage {

}

.signUp--success__message {
    margin-top: 4em;
}

.signUp--success__message--primaryMessage {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.signUp--success__message--secondaryMessage {
    display: block;
}

.passwordRecovery__statusMessage {

}

.passwordRecovery__wrapper {
    max-width: 40em;
}

.passwordRecovery--success__message {
    margin-top: 4em;
}

.passwordRecovery--success__message--primaryMessage {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.passwordRecovery--success__message--secondaryMessage {
    display: block;
}


@media screen and (min-width: 768px) {
    .dashboard__mmiPoints {
        display: inline-block;
        vertical-align: top;
        float: right;
        padding: 0.8em;
        border: 2px solid darkslategray;
        -webkit-border-radius: 0.9em;
        -moz-border-radius: 0.9em;
        border-radius: 0.9em;
    }

    .dashboard__mmiPoints__label {
        color: darkslategray;
        font-weight: bold;
        font-size: 1.5em ;
    }

    .dashboard__mmiPoints__value{
        color: #f5f5f5;
        padding: 0.1em 0.6em;
        background-color: darkslategray;
        border: 2px solid darkslategray;
        -webkit-border-radius: 1.5em;
        -moz-border-radius: 1.5em;
        border-radius: 1.5em;
        font-weight: bold;
        font-size: 1.1em;
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 767px) {
    .dashboard__mmiPoints {
        display: table;
        vertical-align: top;
        padding: 0.8em;
        border: 2px solid darkslategray;
        -webkit-border-radius: 0.9em;
        -moz-border-radius: 0.9em;
        border-radius: 0.9em;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .dashboard__mmiPoints__label {
        color: darkslategray;
        font-weight: bold;
        font-size: 1.2em ;
    }

    .dashboard__mmiPoints__value{
        color: #f5f5f5;
        padding: 0.1em 0.6em;
        background-color: darkslategray;
        border: 2px solid darkslategray;
        -webkit-border-radius: 1.5em;
        -moz-border-radius: 1.5em;
        border-radius: 1.5em;
        font-weight: bold;
        font-size: 1em;
        margin-left: 0.5em;
    }
}

.studyDisplay--participant {
    max-width: 23em;
    margin-right: 5em;
    vertical-align: top;
    clear: left;
    float: left;
}

.studyDisplay__wrapper {
    margin-top: 3em;
}

.studyDisplay--history {
    max-width: 23em;
    margin-right: 5em;
    vertical-align: top;
    float: left;
}

.studyDisplay--creator {
    max-width: 23em;
    float: left;
    vertical-align: top;
}

.dashboardNews {
    margin-top: 5em;
}

.newsDisplay__heading {
    font-weight: bold;
    font-size: 1.5em;
}

.newsDisplay__heading--studyView {
    font-weight: bold;
}

.newsDisplay__item {
    cursor: pointer;
}

.newsDisplay__item:hover {
    background-color: #f7f7f7;
}

.newsDisplay__item__body {
    margin-top: 1em;
}

.newsDisplay__item--collapseControl {
    font-weight: bold;
    color: lightslategray;
    cursor: pointer;
}

.newsDisplay__item--collapseControl:hover {
    background-color: #f7f7f7;
}

.customizedPanel {
    padding: 0;
}

.panelDisplay__list--study {
    margin-bottom: 0;
    max-height: 25em;
    overflow-y: auto;
}

.panelDisplay__list--news {
    margin-bottom: 0;
    max-height: 25em;
    overflow-y: auto;
}

.studyDisplay__heading {
    font-weight: bold;
    font-size: 1.5em;
}

.studyDisplay__study {
    cursor: pointer;
}

.studyDisplay__study__header {
    color: #063 !important;
    font-size: 1.5em;
}

.studyDisplay__item--collapseControl {
    font-weight: bold;
    color: lightslategray;
    cursor: pointer;
}

.studyDisplay__item--collapseControl:hover {
    background-color: #f7f7f7;
}

.studyDisplay__study__body {
    display: table;
    border-spacing: 0.5em 0;
}

.studyDisplay__study__body__row {
    display: table-row;
}

.studyDisplay__study__body__cell--description {
    display: table-cell;
    font-weight: bold;
}

.studyDisplay__study__body__cell--value {
    display: table-cell;
}

.createStudyButton--adviser {
    float: right;
    margin-bottom: 2em !important;
}

.loading--login {
    font-size: 2em;
    color: black;
}

.loading--fix {
    font-size: 0.1em;
    color: white;
    visibility: hidden;
}

.loading--notFound {
}

.loading--passwordRecovery {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.2em;
}

.loading--signUp {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.5em;
}

.loading--accConfig {
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: black;
}

.loading--delete {
    color: #ffffff;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.2em;
}

.loading--table {
    color: gray;
    font-size: 10em;
}

.loading__wrapper--table {
    text-align: center;
    vertical-align: middle;
}

.loading__config--save {
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    font-size: 1.2em;
}

.loading__config--create {
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    font-size: 1.2em;
}

.loading__config--cancel {
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: black;
}

.loading__studySearch--dashboard {
    margin-left: 2em;
    margin-right: 2em;
    color: white;
    font-size: 1.3em;
}

.loading__study--confirm {
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    font-size: 1.3em;
}

.loading__study--edit {
    margin-left: 2em;
    margin-right: 2em;
    color: white;
}

.loading__study--back {
    margin-left: 2em;
    margin-right: 2em;
    color: black;
}

.loading__study--public {
    margin-left: 2em;
    margin-right: 2em;
    color: black;
}

.loading__study--publish {
    margin-left: 3em;
    margin-right: 3em;
    color: white;
}

.loading__study--register {
    margin-left: 3em;
    margin-right: 3em;
    color: white;
}

.loading__label--create {
    margin-left: 1em;
    margin-right: 1em;
    color: #ffffff;
}

.loading__generalLoadingWrapper {
    vertical-align: middle;
    text-align: center;
    color: #dcdcdc;
    padding-top: 7em;
}

.loading__generalLoadingWrapper__text {
    font-size: 30em;
}

.loading__generalLoadingWrapper__text {
    font-weight: bold;
    font-size: 3em;
}

.obligatory__asterisk {
    font-size: 0.6em;
    vertical-align: super;
    color: #228b22;
}

.obligatory__text {
    margin-right: 0.5em;
}

.obligatory__wrapper {
    text-align: right;
    clear: left;
}

.recordNotFound__message--primaryMessage {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.recordNotFound__message--secondaryMessage {
    display: block;
}
