.login__container {
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    border: 0.2em solid lightgray;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    max-width: 40em;
}

.login__button {
    width: 100%;
    font-weight: bold;
}

.login__alert {
    margin-top: 3em;
}

.login__signUpButton {
    margin-top: 3em;
}

.signUp__header {
    margin-bottom: 1.5em;
}

.signUp__form {
    max-width: 50em;
}

.signUp__button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.studySearch {
    max-width: 45em;
}

.studySearch__tagWrapper {
    display: inline-block;
}

.studySearch__tag {
    float: left;
    margin-right: 1em;
    margin-top: 0.7em;
}

.studySearch__button {
    float: left;
    margin-top: 0.7em;
}

.searchtag__wrapper {
    border: 0.1em solid lightgray;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    background-color: lightskyblue;
    color: white;
    padding: 0.5em;
}

.searchtag__button {
    margin-left: 0.4em;
}

.registered--participant {
    margin-top: 5em;
    max-width: 30em;
    clear: left;
    float: left;
}

.registered--creator {
    margin-top: 5em;
    max-width: 30em;
    float: right;
    vertical-align: top;
}

.registered--participant__studyDisplay {
    padding: 0 !important;
}

.studyDisplay__list {
    margin-bottom: 0 !important;
}

.studyDisplay__study {
    cursor: pointer;
}

.createStudyButton--adviser {
    float: right;
    margin-bottom: 2em !important;
}

.studiesList__row {
    cursor: pointer;
}

.studiesList__tableWrapper {
}

.studiesList__filterButton {
    display: block !important;
    margin-top: 3em;
    margin-bottom: 1em !important;
}

.studiesList__filterInput {
    width: 95%;
}
