/* standard navbar */
@media (min-width: 768px) {
    .accountDropDown {
        display: block;
    }

    .accountDefault {
        display: none !important;
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .accountDropDown {
        display: none !important;
    }

    .accountDefault {
        display: block;
    }
}

.accountIcon {
    font-size: 1.5em;
}

.login__container {
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    border: 0.2em solid lightgray;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    max-width: 40em;
}

.login__button {
    width: 100%;
    font-weight: bold;
}

.login__alert {
    margin-top: 3em;
}

.login__signUpButton {
    margin-top: 3em;
}

.signUp__header {
    margin-bottom: 1.5em;
}

.signUp__form {
    max-width: 50em;
}

.signUp__button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.studySearch {
    max-width: 45em;
}

.studySearch__tagWrapper {
    display: inline-block;
}

.studySearch__tag {
    float: left;
    margin-right: 1em;
    margin-top: 0.7em;
}

.studySearch__button {
    float: left;
    margin-top: 0.7em;
}

.searchtag__wrapper {
    border: 0.1em solid lightgray;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    background-color: lightskyblue;
    color: white;
    padding: 0.5em;
}

.searchtag__button {
    margin-left: 0.4em;
}

.registered--participant {
    margin-top: 5em;
    max-width: 30em;
    clear: left;
    float: left;
}

.registered--creator {
    margin-top: 5em;
    max-width: 30em;
    float: right;
    vertical-align: top;
}

.registered--participant__studyDisplay {
    padding: 0 !important;
}

.studyDisplay__list {
    margin-bottom: 0 !important;
}

.studyDisplay__study {
    cursor: pointer;
}

.studyDisplay__study__header {
    color: darkslateblue !important;
}

.studyDisplay__study__body {
    display: table;
    border-spacing: 0.5em 0;
}

.studyDisplay__study__body__row {
    display: table-row;
}

.studyDisplay__study__body__cell--description {
    display: table-cell;
    font-weight: bold;
}

.studyDisplay__study__body__cell--value {
    display: table-cell;
}

.createStudyButton--adviser {
    float: right;
    margin-bottom: 2em !important;
}

.studies__row {
    cursor: pointer;
}

.studies__row--expired:hover > td:nth-child(2), .studies__row--expired:hover > td:nth-child(3) {
    color: darkred;
}

.studies__row--expired > td:first-child {
    color: darkred;
}

.studies__row--notExpired {
    background-color: #ededed;
}

.studies__header--state {
    min-width: 9em;
}

.studies__header--mmi {
    min-width: 5em;
}

.studies__header--amazon {
    min-width: 6em;
}

.studies__tableWrapper {
}

.studies__filterButton {
    display: block !important;
    margin-top: 3em;
    margin-bottom: 1em !important;
}